/* ?offcanva */
.heading-change h5 {
  padding-bottom: 20px;
  color: #7b7b7b;
}

/*  */
/* section */

.bg-img {
    background-image: url(/img/portfolios-bg.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section-1 {
    width: 50%;
}

.main-heading {
    color: #ffffff;
}

.para {
    color: #7a7a7a;
    letter-spacing: .5px;
    line-height: 1.5em;
    width:80%;
}

.small-heading {
    font-size: 12px;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 11.8px;
}

.section-1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* section-2 */
.text a{
    text-decoration: none;
    color: #7b7b7b;
    font-size: 20px;
    font-weight: 800;
    line-height: 3.05em;
}
/* img */
.img{
    width:620px ;
    height:390px ;
}
/* section-3 */
.footer-background {
    background-image: url(/img/footer-background.png);
    position: relative;
    background-size: cover;
    height: 775px;
    z-index: 1;

  }
  .box {
    background-color: #0f0f11;
 
 }
 .bg-text {
    position: absolute;
    top: 468px;
    left: 254px;
  } 

  .icon-div img {
    height: 18px;
    width: 18px;
  
  }
  .div-l a {
    text-decoration: none;
    font-weight: 700;
    line-height: 0.95em;
    color: #7b7b7b;
  }
  .div-l a:hover{
    color: #fff;
    transition: color 0.3s;
  }
  .box {
    background-color: #0f0f11; 
    width: 100%;
    padding: 12rem 0;
  }
  .footer-sec {
    display: flex;
}
.last_sec {
  width: 50%;
  display: flex;
  justify-content: center;
}
    /*last  */
   
      .scroll-bar{
        border-radius: 7px;
        background-color: #fff;
        position: fixed;
       bottom: 0;
       right: 0;
      
      }
      /*  */
      .text-edit{
        text-decoration: none;
        color: #7b7b7b;
        text-align: center;
      }
      /* RESPONSIVE */
  @media (max-width: 320px)  {
    .bg-img{
      height: 700px;
    }
  .section-1{
    width: 90%;
    position: absolute;
    top:130%!important;
    left: 50%;
    transform: translate(-50%, -50%);
}
.para{
  width: 100%;
}
.img {
  width: 300px;
  height: 198px;
}

.icon-div{
  padding-top: 20px;
 }
 .footer-sec{
  display: block;
padding: 40px 0px 0px 80px!important;
}
.box{
padding: 6rem 0;
}
.footer-background {
  height:300px ;
  width:280px ;
 }
 .bg-text {
left: 10px;
top: 40px;

 }
  .last_sec{
  width: 100%;
 }

}
 
  
  
@media (min-width: 321px) and (max-width: 376px) {
    .bg-img{
      height: 600px;
    }
    .para{
      width: 100%;
    }
    .img {
      width: 355px;
      height: 234px;
    }
  .section-1{
    width: 90%;
    position: absolute;
    top:130%!important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-div{
  padding-top: 20px;
 }
 .footer-sec{
  display: block;
padding: 40px 0px 0px 80px!important;
}
.box{
padding: 6rem 0;
}
.footer-background {
  height:400PX ;
  width:100% ;
  background-position: center;
 }
 .bg-text {
left: 20px;
top: 100px;

 }
  .last_sec{
  width: 100%;
 }
 .sec-2img{
  width:350px;
  }
}

@media (max-width: 426px) and (min-width: 377px) {
  .img {
    width:400px;
    height:270px;
  }
  .bg-img{
    height: 600px;
  }
.section-1{
  width: 90%;
  position: absolute;
  top:110%!important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box{
  padding: 6rem 0;
  }
  .footer-background {
    height:400PX ;
    width:100% ;
   }
   .bg-text {
  left: 20px;
  top: 100px;
  
   }
    .last_sec{
    width: 100%;
   }
   .btn-sec{
    justify-content:space-around;
  }
  .footer-sec{
    display: block;
  padding: 40px 0px 0px 80px!important;
  }

}
  @media (max-width: 768px) and (min-width: 427px) {
    .bg-img{
      height: 600px;
    }
  .section-1{
    width: 90%;
    position: absolute;
    top:110%!important;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img {
  width: 350px;
  height: 234px;
}

.bg-text {
  position: absolute;
  top: 468px;
  left:20px;
}
.footer-sec{
  margin-top: 30px;
}
.box {
  background-color: #0f0f11;
  width: 100%;
  padding: 4rem 0;
}
  }
  
  @media (max-width: 1025px) and (min-width: 769px) {
    .section-1{
      width: 90%;
      position: absolute;
      top:110%!important;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .img {
    width: 450px;
    height: 321px;
  }
 
  .bg-text {
    position: absolute;
    top: 468px;
    left:20px;
  }
  }

  @media (max-width: 1441px) and (min-width: 1026px) {
    .section-1{
      width: 90%;
      position: absolute;
      top:110%!important;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .bg-text {
    position: absolute;
    top: 468px;
    left:20px;
  }

  }
 

  